dialog {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 16px;
    padding: 16px 24px 32px 16px;
    width: 528px;
    height: 560px;
    line-height: 1.5;
}

dialog img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
    margin: 16px auto;
    border-radius: 8px;
}

.close-btn {
    text-align: right;
    font-weight: 500;
    color: rgb(140, 140, 140);
    font-weight: 500;
    font-size: 24px;
}

.close-btn:hover {
    cursor: pointer;
}

::backdrop {
    background-color: #000000a0;
}

dialog > h3 {
    margin-bottom: 12px;
}

dialog > .description {
    margin: 12px 0 24px 0;
}

.selection-group {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
}

.selection-group:first-of-type {
    margin-top: 8px;
}

.selection-group > input[type='radio'] {
    display: inline;
    margin: 0;
    width: 16px;
    padding: 4px;
}

dialog h4 {
    margin: 24px 0 16px 0;
}
