.dashboard-main {
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-top-left-radius: 16px;
    width: 100%;
    margin-left: 256px;
    margin-top: 64.5px;
    height: 100vh;
    overflow: scroll;
}

.events,
.organizations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
}
